# =========================================
# Python & Django
# =========================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Virtualenv
venv/
env/

# =========================================
# IDE / Editor
# =========================================
.vscode/
.idea/
*.swp
*.swo

# =========================================
# OS-specifiek
# =========================================
.vs/
log.log 